<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Collections at DoJewelry.shop</title>
  <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body style="font-family: 'Jost', sans-serif; background-color: #F4F4F2; margin: 0; padding: 20px 10px;">
  <div style="max-width: 600px; margin: 20px auto; background: #FFF; border-radius: 8px; overflow: hidden; border: 1px solid #bdbdbd;">
    <div style="background-color: #F4F4F2; padding: 32px 10px; text-align: center;">
      <img src="https://dojewerlyserver-production.up.railway.app/uploads/logo-text.png" alt="DoJewelry" style="width: 90px;"/>
    </div>
    <div style="padding: 20px;">
      <div style="margin: 20px 0;">
        <h2 style="color: #161412; margin-bottom: 0; font-family: 'Jost', sans-serif;">Привет {{username}},</h2>
        <p style="font-size: 14px; color: #161412; margin-top: 8px; margin-bottom: 32px; font-family: 'Jost', sans-serif;">{{text}}</p>
      </div>
      {{#each collections}}
        <a href="{{this.link}}" style="text-decoration: none; color: inherit;">
          <div style="margin-bottom: 20px; padding: 10px; color: #000; border-radius: 6px; background-color: #F4F4F2;">
            <div style="font-size: 24px; margin: 0 0 10px 0; font-family: 'Jost', sans-serif;">{{this.name}}</div>
            <div style="color: #000; margin: 0 0 15px 0; font-family: 'Jost', sans-serif;">{{this.description}}</div>
            <div style="display: block;">
              {{#each this.products}}
                <img src="{{this.imageURL}}" alt="Product Image" style="width: 50px; border-radius: 4px; margin-right: 10px;">
              {{/each}}
            </div>
          </div>
        </a>
      {{/each}}
    </div>
    <div style="background-color: #F4F4F2; padding: 32px 10px; text-align: center; font-size: 13px; font-family: 'Jost', sans-serif;">
      <p>Sent with ♥ from DoJewelry.shop</p>
      <p>Getting too many emails? <a href="{{unsubscribeLink}}" style="text-decoration: none; color: inherit;">Unsubscribe</a></p>
    </div>
  </div>
</body>
</html>
